@import '../Vars.scss';
.row {
  height: 100%;
  padding: 16px;
  width: 100%;
  font-weight: bold;
  font-size: large;
  color: $very-light-color;
  background-color: $main-color;
  border-radius: 8px;
  &:hover {
    cursor: pointer;
    background-color:$main-color-light;
  }

  .row__icon {
    color: $very-light-color;
    font-size: 18px;
    margin-right: 19px;
  }
}
.row__content {
  border-radius: 8px;
  padding: 4px 4px 4px 4px;
  background-color: $main-light-color;
}
