@import '../Vars.scss';

.tab {
  display: flex;
  &__btn {
    height: 50px;
    font-size: 20px;
    width: 100%;
    outline: none;
    border-radius: 16px 16px 0 0;
    color: $text-color;
    &.active {
      background-color: $main-color;
      color: $white-color;
      font-weight: bold;
    }
    border: 1px solid #ccccdd;
    box-sizing: border-box;
    cursor: pointer;
    &:hover {
      background-color: $main-color-light;
    }
  }
  &__content {
    position: relative;
    background: $white-color;
    border: 2px solid $main-color;
    border-radius: 0 0 16px 16px;
    padding: 18px;
  }
}

.add-btn {
  width: 150px;
}

.search {
  background-color: $background-color;
  border-radius: 50px;
  border: 2px solid $main-light-color;
  font-size: 24px;
  height: 46px;
  width: 100%;
  margin: 16px 0 16px;
  padding: 4px 16px 4px 16px;
  color: $dark-contrast;
  &:focus {
    border-radius: 50px;
    border: 2px solid $main-color;
  }
  &__icon {
    position: absolute;
    top: 42px;
    right: 35px;
    font-size: 28px;
  }
}
