header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    padding-left: 10%;
    margin: auto;
    background-color: $primary-color;
    color: $white-color;
    align-items: center;
    letter-spacing: 5px;
    font-size: 1.5rem;
    .container-avatar {
        width: 50%;
        .avatar{
            height: 50px;
            width: 50px;
            overflow: hidden;
            border-radius: 50%;
            margin: auto;
            .usuario-avatar{
                width: 100%;
            }
        }
    }
}