@import '../Vars.scss';
.page {
  display: grid;
  grid-template-rows: 80px 9fr;
  grid-template-columns: 280px auto;
  grid-template-areas: "menu header" "menu content";
}

.content {
  grid-area: content;
  padding: 18px;
}

.title-container {
    margin-top: 10px;
    padding: 15px 15px 15px 5px;
    color: $text-color;
    h1{
      margin: 0;
      margin-left: 10%;
    }
  }
