<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="profileHeader.css")
        title Profile
    body
        header
            div
                h1 SEDME
            div.header__image
                img(src="img/pp3.jpeg", alt="Foto de perfil")
            
        div.sidebar
            ul
                li Inicio
                li Learning Path
                li Actividades
                li Calendario
                li Metas de la semana
                li Ayuda
        section.datePersonals
            div.datePersonals__img
                img(src="img/pp3.jpeg", alt="Foto de perfil")
            div 
                h2 Perfil
                p Nombre: Jonathan Restan
                p Correo: jonathanrchamorro@gmail.com
        section.cursos
            div
                h3 Metas cumplidas
            div
                p Curso x
            div
                p Curso y
            