<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="profileHeader.css"/>
    <title>Profile</title>
  </head>
  <body>
    <header>
      <div>
        <h1>SEDME</h1>
      </div>
      <div class="header__image"><img src="img/pp3.jpeg" alt="Foto de perfil"/></div>
    </header>
    <div class="sidebar">
      <ul>
        <li>Inicio</li>
        <li>Learning Path</li>
        <li>Actividades</li>
        <li>Calendario</li>
        <li>Metas de la semana</li>
        <li>Ayuda</li>
      </ul>
    </div>
    <section class="datePersonals">
      <div class="datePersonals__img"><img src="img/pp3.jpeg" alt="Foto de perfil"/></div>
      <div> 
        <h2>Perfil</h2>
        <p>Nombre: Jonathan Restan</p>
        <p>Correo: jonathanrchamorro@gmail.com</p>
      </div>
    </section>
    <section class="cursos">
      <div>
        <h3>Metas cumplidas</h3>
      </div>
      <div>
        <p>Curso x</p>
      </div>
      <div>
        <p>Curso y</p>
      </div>
    </section>
  </body>
</html>