$colorBorder1: #130338;
$colorFont1: rgb(250, 249, 246);
$colorBackground1: #272c67;
$colorBackground2: #e3e8f0;
$colorBackground3: #ccd5e0;
$colorAlert: #e94560;
$size1: 10px;

/* Colores */
$white-color:#ffffff;
$very-light-color: #E2E8F0;
$main-light-color: #CCD5E0;
$main-color: #272C67;
$second-color:#E94560;
$obscuro-contraste: #272626;

/* Tamaños de fuente */
$h2-font-size: 36px;
$h3-font-size:28px;
$h4-font-size:24px;
$text-font-size: 15px;

/* Bordes */
$card-border-radius:15px;