<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./profile.css">
    <title>Document</title>
</head>
<body>
    <div class="header"></div>
    <div class="aside"></div>
    <div class="main">
        <section class="photoSeccion">
            <h3>Photo</h3>
            <img src="/views/login/img/beautiful-girl-profile-caretofun.net-5.jpg" alt="" class="perfilPhoto">
            <button class="uploadphoto">Upload Photo</button>
        </section>
        <section class="personalInfo">
            <h2>Personal Info</h2>
            <label First name</label>
            <input type="text" class="firstNameInput">
            <label class="lastName">Last Name</label>
            <input type="text" class="lastNameInput">
            <label class="email">Email</label>
            <input type="text" class="emailInput">
            <button class="password">Change Password</button>
        </section>
        <div class="section biography">
            <label class="biography"></label>
            <input type="text" class="biographyInput">
        </div>
        <div class="buttonSave">
            <button class="saveChanges">Save</button>
        </div>

    </div>
</body>
</html>