@import '../../Vars.scss';

.day {
  width: 100%;
  height: 100px;
  padding: 8px;
  border: $main-light-color 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  &:hover {
    border: $main-color 1px solid;
  }
  &-secondary {
    opacity: 0.5;
  }
  &_current {
    position: relative;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: $main-color;
    color: white;
  }

  &__dot {
    position: relative;
    height: 25px;
    width: 25px;
    border-radius: 50%;
  }

  &__number {
    font-size: 14px;
    position: absolute;
    top: 4px;
    right: 9px;
    font-weight: bold;
  }
}

.activities {
  overflow: hidden;
}

.activity {
  padding: 2px;
  color: grey;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  .blue {
    background-color: #79cfe2;
  }
  .green {
    background-color: #79e290;
  }

  &__dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
  }
  &__hour {
    font-weight: bold;
  }
  &__description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
