<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="login.css")
        link(rel="stylesheet", href="media.css" media="screen and (max-width:1024px)")
        title login Sedme
    
    body.loginScreen
        header.navBar
            p.title SEDME 
        img.mainLogo(src="img/logo-claro-190x190px-web.png", alt="")
        .mainContainer
            p.user User:
            input.userInput(type="text")
            p.password Password:
            input.passwordInput(type="text")
            button.enterButton Entrar
            a.passwordRecover(href="") Recuperar Contraseña
        footer.footerBar 
            p.title Sistema Estudiantil de Definición de Metas para Platzi Master