@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Raleway:wght@200;300;400&display=swap');

$colorBorder1: #130338;
$colorFont1: rgb(250, 249, 246);
$colorBackground1: rgb(122, 176, 226);

.loginScreen {
    overflow: hidden;
    display: grid;
    grid-template-rows: 10vh 80vh 10vh;
}
.navBar {
    grid-row: 1 / 2;
    height: 50px;
    border-style: solid;
    border-width: .7px 2.5px 2.5px .7px;
    border-color: $colorBorder1;
    background: $colorBackground1;
    display: flex;
    align-items: center;
    .title  {
        margin: 0 20px;
        font-family: 'Montserrat', sans-serif;
        font-size: 40px;
        font-weight: 700;
        color: $colorFont1;
        }
}
.mainContainer{
    grid-row: 2 / 3;
    align-self: center;
    justify-self: center;
    width: 40vw;
    height: 60vh;
    border: 1px solid $colorBorder1 ;
    box-shadow:20px 20px 20px 10px $colorBackground1; 
    border-radius: 10%;
    display: grid;
    grid-template-columns: 20% 20% 40% 20%;
    grid-template-areas: ". logo logo ."
                        ". user inputuser ."
                        ". password inputpassword ."
                        ". button button ."
                        ". recover recover .";
    .mainLogo {
        grid-area: logo;
        height: 150px;
        width: 150px;
        border-radius: 10%;
        justify-self: center;
        align-self: center;
        }
    .user {
        grid-area: user;
        margin: 0 20px;
        align-self: center;
        justify-self: end;
        font-family: 'Raleway', sans-serif;
        font-size: 20px;
    }
    .userInput {
        grid-area: inputuser;
        height: 30px;
        align-self: center;
    }
    .password {
        grid-area: password;
        margin: 0 20px;
        align-self: center;
        justify-self: end;
        font-family: 'Raleway', sans-serif;
        font-size: 20px;
    }
    .passwordInput {
        grid-area: inputpassword;
        height: 30px;
        align-self: center;
    }
    .enterButton {
        grid-area: button;
        background-color: rgb(131, 206, 56);
        border-radius: 5px;
        font-family: 'Raleway', sans-serif;
        font-size: 20px;
        font-weight: 500;
        &:hover {
            background-color: chartreuse;
            font-size: 25px;
            font-weight: 700;
        }
    }
    .passwordRecover {
        grid-area: recover;
        color: black;
        justify-self: center;
        align-self: center;
        font-family: 'Raleway', sans-serif;
        font-size: 15px;
        &:hover {
            color: darkblue;
        }
    }

}
   
.footerBar {
    grid-row: 3 / 4;
    height: 50px;
    border-style: solid;
    border-width: 2.5px .7px .7px 2.5px ;
    border-color: $colorBorder1;
    background: $colorBackground1;
    display: flex;
    align-items: center;
    justify-content: center;
    .title  {
        margin: 0;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        color: $colorFont1;
        }
}