<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="login.css"/>
    <title>login Sedme</title>
  </head>
  <body class="loginScreen">
    <header class="navBar">
      <p class="title">SEDME </p>
    </header>
    <div class="mainContainer"><img class="mainLogo" src="img/logoPM.jpeg" alt=""/>
      <p class="user">User:</p>
      <input class="userInput" type="text"/>
      <p class="password">Password:</p>
      <input class="passwordInput" type="text"/>
      <button class="enterButton">Entrar</button><a class="passwordRecover" href="">Recuperar Contraseña</a>
    </div>
    <footer class="footerBar"> 
      <p class="title">Sistema Estudiantil de Definición de Metas para Platzi Master</p>
    </footer>
  </body>
</html>