@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Raleway:wght@200;300;400&display=swap");
/* Colores */
/* Tamaños de fuente */
/* Bordes */
.mainContainer {
  grid-row: 3/4;
  align-self: center;
  justify-self: center;
  width: 40vw;
  height: 55vh;
  background-color: #ffffff;
  border: 1px solid #CCD5E0;
  border-radius: 5%;
  display: grid;
  grid-template-columns: 10% 40% 40% 10%;
  grid-template-areas: ". login login ." ". user . ." ". inputuser inputuser ." ". password . ." ". inputpassword inputpassword ." ". button button ." ". recover recover .";
}
.mainContainer .loginTitle {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: login;
  margin: 0;
  align-self: center;
  justify-self: center;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 25px;
}
.mainContainer .user {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: user;
  margin: 0;
  align-self: center;
  justify-self: start;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
}
.mainContainer .userInput {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: inputuser;
  height: 30px;
  align-self: center;
  background-color: #CCD5E0;
  border: none;
  border-radius: 5px;
}
.mainContainer .password {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: password;
  margin: 0;
  align-self: center;
  justify-self: start;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
}
.mainContainer .passwordInput {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: inputpassword;
  height: 30px;
  align-self: center;
  background-color: #CCD5E0;
  border: none;
  border-radius: 5px;
}
.mainContainer .enterButton {
  -ms-grid-row: 6;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: button;
  height: 35px;
  align-self: center;
  background-color: #272C67;
  border-radius: 5px;
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
}
.mainContainer .enterButton:hover {
  /*  background-color: chartreuse;
   font-size: 15px;
   font-weight: 800; */
}
.mainContainer .passwordRecover {
  -ms-grid-row: 7;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: recover;
  justify-self: start;
  align-self: center;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 10px;
  color: #272626;
}
.mainContainer .passwordRecover:hover {
  color: #e94560;
  font-weight: 500;
}

.navBar {
  grid-row: 1/2;
  height: 40px;
  border-style: solid;
  border-width: 0.7px 1.5px 1.5px 0.7px;
  border-color: #130338;
  background: #272c67;
  /* border-radius: 5px; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.navBar .title {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #faf9f6;
}

.footerBar {
  grid-row: 4/5;
  align-self: flex-end;
  height: 40px;
  border-style: solid;
  border-width: 2.5px 0.7px 0.7px 2.5px;
  border-color: #272626;
  background: #272C67;
  /* border-radius: 5px; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.footerBar .title {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #faf9f6;
}

.loginScreen {
  overflow: hidden;
  display: grid;
  grid-template-rows: 10vh 15vh 66vh 10vh;
  background-color: #E2E8F0;
  margin: 0;
}

.mainLogo {
  grid-row: 2/3;
  justify-self: center;
  max-width: 100px;
}