<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="login.css"/>
    <link rel="stylesheet" href="media.css" media="screen and (max-width:1024px)"/>
    <title>login Sedme</title>
  </head>
  <body class="loginScreen">
    <header class="navBar">
      <p class="title">SEDME </p>
    </header>
    <img class="mainLogo" src="img/logo-claro-190x190px-web.png" alt=""/>
    <div class="mainContainer">
      <p class="loginTitle">
        Login
      </p>
      <p class="user">
        Email
      </p>
      <input class="userInput" type="text"/>
      <p class="password">Password</p>
      <input class="passwordInput" type="text"/>
      <button class="enterButton">
        Get Started
      </button>
      <a class="passwordRecover" href="">
        Recover Password
      </a>
    </div>
    <footer class="footerBar"> 
      <p class="title">
        Student Goal Setting System for Platzi Master
      </p>
    </footer>
  </body>
</html>