.calendar
    .calendar__header
        // Day of week
        .calendar__title Domingo
        .calendar__title Lunes
        .calendar__title Martes
        .calendar__title Miércoles
        .calendar__title Jueves
        .calendar__title Viernes
        .calendar__title Sábado

    .calendar__main
        // Dates
        .calendar__day 1
        .calendar__day 2
            .calendar__task--danger trabaja
            .calendar__task--success xd
        .calendar__day 3
        .calendar__day 4
        .calendar__day--current 5
        .calendar__day 7
        .calendar__day 8
        .calendar__day 9
        .calendar__day ...28
