nav.header
    ul.header__logo
        li
            a(href='index.html') SEDME

    .header__menu
        .header__menu--profile
            img(src="src/img/user.png" alt="")
            span Usuario X
            ul
                li
                    a(href='#') Perfil
                li
                    a(href="#") Cerrar Sesión

