@import "../../utils/variables.scss";

nav {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  background: $primaryColor;
  padding: 0 16px;

  a {
    text-decoration: none;
    color: white;
  }
  .logo {
    width: 270px;
    font-size: 16px;
    li {
      list-style: none;
    }
    a {
      color: $successColor;
      font-size: 26px;
    }
  }

  .user {
    margin-left: auto;
    list-style-type: none;
    justify-self: end;
  }
}
