$primaryColor: #24292e;
$secondaryColor: #dbedff;

$primaryDark: #24292e;
$secondaryDark: #dbedff;

$successColor: #98ca3f;
$errorColor: red;
$warningColor: yellow;

$textColor:black;

$backgroudColor: whitesmoke;
$fontFamily: sans-serif;
