extends ../../templates/navigation.pug

block title
    | Calendario

block content
    p Contenido del div hjgjhggh Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae saepe libero ducimus non beatae nihil ab ullam quae iusto sequi!
    include ../../components/calendar/calendar.pug