.sidebar
    .sidebar__toggle-btn
        span &#9776
    .sidebar__menu    
        ul
            li 
                a(href="index.html") Inicio
        hr
        ul
            li 
                a(href="#") Calendario
            li 
                a(href="#") Learning Path
            li 
                a(href="#") Actividades
            li 
                a(href="#") Metas de la semana
        hr
        ul
            li Ayuda
            li Acerca de
    img(src="/src/img/DarkCodeLogo.png" alt="Logotipo")