.sidebar
    .toggle-btn
        span &#9776
    ul
        li 
            a(href="index.html") Inicio
        hr
        li 
            a Calendario
        li 
            a Learning Path
        li 
            a Actividades
        li 
            a Metas de la semana
        hr
        li Ayuda
        li Acerca de
    img(src="/src/img/DarkCodeLogo.png", alt="Logotipo")