@import './Vars.scss';
@import './Media.scss';

body {
  font-family: $font;
  color: $text-color;
}

* {
  box-sizing: border-box;
}

input {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.label {
  display: block;
  width: 62px;
  height: 29px;
  font-size: 22px;
  line-height: 29px;
  text-align: center;
}

.btn {
  background-color: $main-color;
  color: $very-light-color;
  font-size: 18px;
  margin: 4px 4px 4px 0;
  padding: 10px 16px;
  border: 1px solid #ccccdd;
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
  &:hover {
    background-color: $main-color-light;
  }
}

.right {
  float: right;
}
.block {
  width: 100%;
}

.input {
  background-color: $background-color;
  border-radius: 5px;
  border: 2px solid $main-light-color;
  font-size: 18px;
  height: 36px;
  padding: 4px;
  color: $dark-contrast;
  &:focus {
    border: 2px solid $main-color;
  }
}



/* Sección del contenido */
.content {
  grid-area: content;
}  

.title-container {
    margin-top: 10px;
    padding: 15px 15px 15px 40px;
    background-color: $background-title-color;
    color: $text-color;
  }