@import '/Vars.css';

/* @media only screen and (max-width: 1460px) {

}
@media only screen and (max-width: 1024px) {

}*/
@media only screen and (max-width: 768px) {
.mainLogo {
      width: 80px;
    }
    .mainContainer {
      width: 50vw;
      height: 60vh;
      .passwordRecover {
        font-size: 13px;
      }
  }
}
@media only screen and (max-width: 528px) {
.mainLogo {
      width: 80px;
    }
    .mainContainer {
      width: 60vw;
      height: 60vh;
      .passwordRecover {
        font-size: 13px;
      }
  }
}
@media only screen and (max-width: 375px) {
    .mainLogo {
      width: 80px;
    }
    .mainContainer {
      width: 80vw;
      height: 60vh;
      .passwordRecover {
        font-size: 12px;
      }
  }
  .footerBar{
    .title {
      font-size: 17px;
    }
  }
}
/* @media only screen and (max-width: 320px) {

}  */
